<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>产品列表</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		<div id="container">
			<!-- 网站头部 -->
			<div id="pagetop">
				<div class="logo">
					<img src="img/1610286965(1).jpg">
				</div>
				<div class="topinfo">
					<span>欢迎进入斯妖三商城！<a href="login.html">登录</a>&nbsp;<a href="zhuce.html">注册</a></span>
				</div>
				<div class="topnav">
					<ul class="topnavlist">
						<li v-for="lists in list"><a href="#">{{lists.name}}</a>&nbsp;| </li>
						<li id="topnavlistlast"></li>
					</ul>
					<div>
						<marquee id="teshu"><a href="#">重大消息！重大消息！今晚神秘活动即将开起！</a></marquee>
					</div>
				</div>
				<div id="nav">
					<ul>
						<li><a href="index.html">网站首页</a></li>
						<li><a href="#">分类导航</a></li>
						<li><a href="#">购物帮助</a></li>
						<li><a href="trolley.html">产品列表</a></li>
						<li><a href="prolistprice.html">报价单</a></li>
						<li><a href="jiesuan.html">发货单</a></li>
					</ul>
					<div id="navx">
						<span id="navx1">商品搜索</span>
						<span><select>
							<option>所有分类</option><option>最新商品</option><option>热卖商品</option>
						</select></span>
						<input type="text" maxlength="100" size="28px"/>
						<button type="button" >搜索</button>
						<span id="navx2">告警搜索/组合搜索</span>
					</div>
				</div>
			</div>
			
			<!-- 网站中间主体 -->
			<div id="pagebody">
				<!-- 左部 -->
				<div id="bleft">
					<div class="userbox">
						<h2>用户信息</h2>
						<ul>
							<li><a href="#">欢迎tiger退出</a></li>
							<li><a href="#">用户资料修改</a></li>
							<li><a href="#">用户密码修改</a></li>
							<li><a href="#">订单管理</a></li>
							<li><a href="#">管理优惠卷（0）</a></li>
							<li><a href="#">兑换优惠卷</a></li>
							<li><a href="#">缺货登记</a>&nbsp;<a href="#">登记记录</a></li>
							<li><a href="gouwuche.html">购物车（2）</a></li>
							<li><a href="#">我的收藏</a></li>
							<li><a href="#">对比框</a></li>
						</ul>
					</div>
					<div id="userbox" class="userbox">
						<h2>商品分类</h2>
						<ul style="width: 170px;">
							<li class="userbox_li"><span>></span><a href="#">家用电器</a></li>
							<ul>
								<li><a href="#">大 &nbsp;家 &nbsp;电</a>&nbsp;|&nbsp;<a href="#">厨房电器</a></li>
								<li><a href="#">汽车用品</a>&nbsp;|&nbsp;<a href="#">个人护理</a></li>
								<li><a href="#">生活电器</a>&nbsp;|&nbsp;<a href="#">其他家电</a></li>
							</ul>
							<li class="userbox_li"><a href="#"><span>></span>手机数码</a></li>
							<ul>
								<li><a href="#">数码相机</a>&nbsp;|&nbsp;<a href="#">手机通讯</a></li>
								<li><a href="#">时尚影音</a>&nbsp;|&nbsp;<a href="#">数码配件</a></li>
								<li><a href="#">数码影像</a>&nbsp;|&nbsp;<a href="#">手机配件</a></li>
							</ul>
							<li class="userbox_li"><a href="#"><span>></span>电脑产品</a></li>
							<ul>
								<li><a href="#">笔 &nbsp;记 &nbsp;本</a>&nbsp;|&nbsp;<a href="#">办公耗材</a></li>
								<li><a href="#">电脑软件</a>&nbsp;|&nbsp;<a href="#">网络产品</a></li>
								<li><a href="#">办公设备</a>&nbsp;|&nbsp;<a href="#">电脑整机</a></li>
							</ul>
							<li class="userbox_li"><a href="#"><span>></span>电脑产品</a></li>
							<ul>
								<li><a href="#">笔 &nbsp;记 &nbsp;本</a>&nbsp;|&nbsp;<a href="#">办公耗材</a></li>
								<li><a href="#">电脑软件</a>&nbsp;|&nbsp;<a href="#">网络产品</a></li>
								<li><a href="#">办公设备</a>&nbsp;|&nbsp;<a href="#">电脑整机</a></li>
							</ul>
						</ul>
					</div>
					<div class="userbox">
						<h2>合作加盟</h2>
						<ul>
							<li><a href="#">麦子商城</a></li>
							<li><a href="#">麦子学院</a></li>
							<li><a href="#">新智达文化传播</a></li>
						</ul>
					</div>
				</div>
				
				
				<div id="bmiddle" style="width: 785px;min-height: 560px;">
					<div id="location">
						<span>您的位置：</span>
						<span><a href="index.html">首页</a>>&nbsp;></span>
						<span><a href="trolley.html">家用电器</a></span>
					</div>
					<div id="location_1">
						<span style="font-weight: 800;">子类列表：</span>
						<span><a href="#">大 &nbsp;家 &nbsp;电</a></span>
						<span><a href="#">厨房电器</a></span>
						<span><a href="#">汽车用品</a></span>
						<span><a href="#">个人护理</a></span>
						<span><a href="#">生活电器</a></span>
						<span><a href="#">其他家电</a></span>
					</div>
					<div id="location_2">
						<div class="inde">
							<span style="font-weight: 800;color: #000000;">排序：</span>
							<a href="#">网站推荐</a>
							<a href="#">销量</a>
							<a href="#">价格升序</a>
							<a href="#">价格降序</a>
							<a href="#">浏览量</a>
							<a href="#">上架时间</a>
						</div>
						<div style="margin-top: 20px;float: left;width: 450px;">
							<span style="float: left;"><img src="img/a1.jpg" ></span>
							<div>
								<span style="position: relative;top: 20px;font-size: 12px;">><a href="#">三星sx-42000一体打印机</a></span>
								<div style="position: relative;top: 20px;font-size: 12px;">
									<span>市场价：</span><span class="price">￥2000.00</span>
									<span>会员价：</span><span class="price">￥1200.00</span>
									<span>节省：</span><span class="price">￥800.00</span>
								</div>
								<div id="lodso">
									<span><a href="#" style="color: #686868;">加入购物车</a></span>
									<span><a href="#" style="color: #686868;">加入对比</a></span>
									<span><a href="#" style="color: #686868;">加入收藏夹</a></span>
								</div>
							</div>
						</div>
						<div style="margin-top: 20px;float: left;width: 450px;">
							<span style="float: left;"><img src="img/a1.jpg" ></span>
							<div>
								<span style="position: relative;top: 20px;font-size: 12px;">><a href="#">三星sx-42000一体打印机</a></span>
								<div style="position: relative;top: 20px;font-size: 12px;">
									<span>市场价：</span><span class="price">￥2000.00</span>
									<span>会员价：</span><span class="price">￥1200.00</span>
									<span>节省：</span><span class="price">￥800.00</span>
								</div>
								<div id="lodso">
									<span><a href="#" style="color: #686868;">加入购物车</a></span>
									<span><a href="#" style="color: #686868;">加入对比</a></span>
									<span><a href="#" style="color: #686868;">加入收藏夹</a></span>
								</div>
							</div>
						</div>
						<div style="margin-top: 20px;float: left;width: 450px;">
							<span style="float: left;"><img src="img/a1.jpg" ></span>
							<div>
								<span style="position: relative;top: 20px;font-size: 12px;">><a href="#">三星sx-42000一体打印机</a></span>
								<div style="position: relative;top: 20px;font-size: 12px;">
									<span>市场价：</span><span class="price">￥2000.00</span>
									<span>会员价：</span><span class="price">￥1200.00</span>
									<span>节省：</span><span class="price">￥800.00</span>
								</div>
								<div id="lodso">
									<span><a href="#" style="color: #686868;">加入购物车</a></span>
									<span><a href="#" style="color: #686868;">加入对比</a></span>
									<span><a href="#" style="color: #686868;">加入收藏夹</a></span>
								</div>
							</div>
						</div>
						<div style="margin-top: 20px;float: left;width: 450px;">
							<span style="float: left;"><img src="img/a1.jpg" ></span>
							<div>
								<span style="position: relative;top: 20px;font-size: 12px;">><a href="#">三星sx-42000一体打印机</a></span>
								<div style="position: relative;top: 20px;font-size: 12px;">
									<span>市场价：</span><span class="price">￥2000.00</span>
									<span>会员价：</span><span class="price">￥1200.00</span>
									<span>节省：</span><span class="price">￥800.00</span>
								</div>
								<div id="lodso">
									<span><a href="#" style="color: #686868;">加入购物车</a></span>
									<span><a href="#" style="color: #686868;">加入对比</a></span>
									<span><a href="#" style="color: #686868;">加入收藏夹</a></span>
								</div>
							</div>
						</div>
						<div style="margin-top: 20px;float: left;width: 450px;">
							<span style="float: left;"><img src="img/a1.jpg" ></span>
							<div>
								<span style="position: relative;top: 20px;font-size: 12px;">><a href="#">三星sx-42000一体打印机</a></span>
								<div style="position: relative;top: 20px;font-size: 12px;">
									<span>市场价：</span><span class="price">￥2000.00</span>
									<span>会员价：</span><span class="price">￥1200.00</span>
									<span>节省：</span><span class="price">￥800.00</span>
								</div>
								<div id="lodso">
									<span><a href="#" style="color: #686868;">加入购物车</a></span>
									<span><a href="#" style="color: #686868;">加入对比</a></span>
									<span><a href="#" style="color: #686868;">加入收藏夹</a></span>
								</div>
							</div>
						</div>
						<div style="margin-top: 20px;float: left;width: 450px;">
							<span style="float: left;"><img src="img/a1.jpg" ></span>
							<div>
								<span style="position: relative;top: 20px;font-size: 12px;">><a href="#">三星sx-42000一体打印机</a></span>
								<div style="position: relative;top: 20px;font-size: 12px;">
									<span>市场价：</span><span class="price">￥2000.00</span>
									<span>会员价：</span><span class="price">￥1200.00</span>
									<span>节省：</span><span class="price">￥800.00</span>
								</div>
								<div id="lodso">
									<span><a href="#" style="color: #686868;">加入购物车</a></span>
									<span><a href="#" style="color: #686868;">加入对比</a></span>
									<span><a href="#" style="color: #686868;">加入收藏夹</a></span>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				
					<!-- 底部导航 -->
				<div id="bodyfooter">
					<ul>
						<li v-for="lists in list" class="listnav">
							<ul>
								<li><h3>{{lists.h3}}</h3></li>
								<li><a href="#">>{{lists.a1}}</a></li>
								<li><a href="#">>{{lists.a2}}</a></li>
								<li><a href="#">>{{lists.a3}}</a></li>
								<li><a href="#">>{{lists.a4}}</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- 网站尾部 -->
			<div id="pagefooter">
				<div id="footinfo">
					<div id="footinfo1"><span>淘宝店</span><span>易趣店</span>
					<span>京东店</span><span>有啊店</span></div>
					<div><span>CopyRight2020.12 版权所有</span></div>
					<div><span>客服热线：010-88888888，售后服务：010-12345678</span></div>
					<div><span>客服邮箱：2312573233@qq.com，技术支持：2312573233@qq.com</span></div>
				</div>
			</div>
		</div>
		<script src="js/primary.js" type="module" charset="utf-8"></script>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/primaryVue.js" type="module"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
			
	</body>
</html>
