<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		<div id="container">
			<!-- 网站头部 -->
			<div id="pagetop">
				<div class="logo">
					<img src="img/1610286965(1).jpg">
				</div>
				<div class="topinfo">
					<span>欢迎进入斯妖三商城！<a href="login.html">登录</a>&nbsp;<a href="zhuce.html">注册</a></span>
				</div>
				<div class="topnav">
					<ul class="topnavlist">
						<li v-for="lists in list"><a href="#">{{lists.name}}</a>&nbsp;| </li>
						<li id="topnavlistlast"></li>
					</ul>
					<div>
						<marquee id="teshu"><a href="#">重大消息！重大消息！今晚神秘活动即将开起！</a></marquee>
					</div>
				</div>
				<div id="nav">
					<ul>
						<li><a href="index.html">网站首页</a></li>
						<li><a href="#">分类导航</a></li>
						<li><a href="#">购物帮助</a></li>
						<li><a href="trolley.html">产品列表</a></li>
						<li><a href="prolistprice.html">报价单</a></li>
						<li><a href="jiesuan.html">发货单</a></li>
					</ul>
					<div id="navx">
						<span id="navx1">商品搜索</span>
						<span><select>
							<option>所有分类</option><option>最新商品</option><option>热卖商品</option>
						</select></span>
						<input type="text" maxlength="100" size="28px"/>
						<button type="button" >搜索</button>
						<span id="navx2">告警搜索/组合搜索</span>
					</div>
				</div>
			</div>
			<!-- 网站中间主体 -->
			<div id="pagebody">
				<!-- 左部 -->
				<div id="bleft">
					<div class="userbox">
						<h2>用户信息</h2>
						<ul>
							<li><a href="zhuce.html">注册</a>&nbsp;/&nbsp;<a href="login.html">登录</a></li>
							<li><a href="gouwuche.html">购物车(0)</a></li>
							<li><a href="#">对比框(0)</a></li>
						</ul>
					</div>
				</div>
				<div id="bmiddle" style="width: 785px;">
					<div id="location" style="margin-left: 3px;">
						<span>您的位置：</span>
						<span><a href="index.html" style="color: #686868;">首页</a>>&nbsp;></span>
						<span><a href="login.html" style="color: #000000;">新用户注册:</a></span>
						<span>(老用户请<a href="#">登录</a>，忘记密码请<a href="#">点击这里</a>)</span>
					</div>
					<div id="login" style="font-weight: 550;width: 785px;margin-top: 60px;">
						<form id="form1" style="width: 500px;margin: 0px auto;">
						<table border="0px" cellspacing="20px" cellpadding="0px">
							<tr>
								<td style="color: #DC143C;">*</td><td>用户名</td>
								<td><input type="text" name="name" id="name" /></td>
							</tr>
							<tr>
								<td style="color: #DC143C;">*</td><td>密码</td>
								<td><input type="password" name="password1" id="password1" /></td>
							</tr>
							<tr>
								<td style="color: #DC143C;">*</td><td>密码确认</td>
								<td><input type="password" name="password2" id="password2" /></td>
							</tr>
							<tr>
								<td style="color: #DC143C;">*</td><td>邮箱</td>
								<td><input type="text" name="email" id="email" /></td>
							</tr>
							<tr>
								<td colspan="2">密码保护问题</td>
								<td><input type="text" name="question" id="question" /></td>
							</tr>
							<tr>
								<td colspan="2">找回密码答案</td>
								<td><input type="text" name="answer" id="answer" /></td>
							</tr>
							<tr><td></td><td></td>
								<td colspan="2"><input type="checkbox" name="ischeck" id="ischeck" value="请确认阅读并同意" />
								<a href="#">注册协议</a></td>
							</tr>
							<tr><td></td><td></td><td colspan="2"><input type="submit" id="tijiao" value="提交"/></tr>
						</table>
						</form>
					</div>
				</div>
					<!-- 底部导航 -->
				<div id="bodyfooter">
					<ul>
						<li v-for="lists in list" class="listnav">
							<ul>
								<li><h3>{{lists.h3}}</h3></li>
								<li><a href="#">>{{lists.a1}}</a></li>
								<li><a href="#">>{{lists.a2}}</a></li>
								<li><a href="#">>{{lists.a3}}</a></li>
								<li><a href="#">>{{lists.a4}}</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- 网站尾部 -->
			<div id="pagefooter">
				<div id="footinfo">
					<div id="footinfo1"><span>淘宝店</span><span>易趣店</span>
					<span>京东店</span><span>有啊店</span></div>
					<div><span>CopyRight2020.12 版权所有</span></div>
					<div><span>客服热线：010-88888888，售后服务：010-12345678</span></div>
					<div><span>客服邮箱：2312573233@qq.com，技术支持：2312573233@qq.com</span></div>
				</div>
			</div>
		</div>
		<script src="js/primary.js" type="module" charset="utf-8"></script>
		<script src="js/primaryVue.js" type="module"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$.validator.setDefaults({
				    submitHandler: function() {
				      alert("提交事件!");
				    }
				});
				$("#form1").validate({
					rules:{
						name:"required",
						password1:{
							required:true,
							minlength:5
						},
						password2:{
							required:true,
							minlength:5,
							equalTo:"password1"
						},
						email:{
							required:true,
							email:true
						},
						question:"required",
						answer:"required",
						ischeck:"required"
					},
					messages:{
						name:"请输入账号名称",
						password1:{
							required:"请输入密码",
							minlength:"密码长度不能小于 5 个字母"
						},
						password2:{
							required:"请输入密码",
							minlength:"密码长度不能小于 5 个字母",
							equalTo:"两次密码输入不一致"
						},
						email:"请输入正确格式的邮箱",
						question:"请输入密码保护问题",
						answer:"请输入问题答案",
						ischeck:"请同意我们的协议",
						
					},
					errorPlacement: function (error, element) {
					     if (element.is(':checkbox')) {  //如果标签为checkbox
					       error.appendTo($("#ischeck").parent());   //错误增加在id为'checkbox-lang'中
					     } else {
					       error.insertAfter(element);
					     }
					   }
				});
			})
		</script>
			
	</body>
</html>
